.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 30px;
    height: 30px;
}

.content {
    padding: 20px;
}

.title {
    padding-left: 0;
}  