<div class="container" style="padding: 16px;">
    <div class="row" style="margin-bottom: 16px;">
      <div class="col-md-12">
        <mat-card class="chart-container" style="height: 300px;">
          <canvas id="population-bar-chart"></canvas>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 16px;">
        <mat-card class="chart-container">
          <canvas id="continent-pie-chart"></canvas>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card class="chart-container">
          <canvas id="language-pie-chart"></canvas>
        </mat-card>
      </div>
    </div>
</div>
  